<a href="https://colab.research.google.com/github/seo-minsu/Follow-up/blob/main/pandas_exercises/03_Grouping/Occupation/Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users = pd.read_csv(url, sep='|')

### Step 4. Discover what is the mean age per occupation

In [7]:
mean_age_per_occupation = users.groupby('occupation')['age'].mean().round()
print(mean_age_per_occupation)

occupation
administrator    39.0
artist           31.0
doctor           44.0
educator         42.0
engineer         36.0
entertainment    29.0
executive        39.0
healthcare       42.0
homemaker        33.0
lawyer           37.0
librarian        40.0
marketing        38.0
none             27.0
other            35.0
programmer       33.0
retired          63.0
salesman         36.0
scientist        36.0
student          22.0
technician       33.0
writer           36.0
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [10]:
gender_occupation = users.groupby(['occupation', 'gender']).size().unstack(fill_value=0)
gender_occupation['Male Ratio'] = round(gender_occupation['M'] / (gender_occupation['M'] + gender_occupation['F'])*100)
male_ratio = gender_occupation['Male Ratio'].sort_values(ascending=False)
print(male_ratio)

occupation
doctor           100.0
engineer          97.0
technician        96.0
retired           93.0
executive         91.0
programmer        91.0
scientist         90.0
entertainment     89.0
lawyer            83.0
salesman          75.0
educator          73.0
student           69.0
other             66.0
marketing         62.0
writer            58.0
none              56.0
administrator     54.0
artist            54.0
librarian         43.0
healthcare        31.0
homemaker         14.0
Name: Male Ratio, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
age_max_min = users.groupby('occupation')['age'].agg(['max', 'min'])
print(age_max_min)

               max  min
occupation
administrator   70   21
artist          48   19
doctor          64   28
educator        63   23
engineer        70   22
entertainment   50   15
executive       69   22
healthcare      62   22
homemaker       50   20
lawyer          53   21
librarian       69   23
marketing       55   24
none            55   11
other           64   13
programmer      63   20
retired         73   51
salesman        66   18
scientist       55   23
student         42    7
technician      55   21
writer          60   18

### Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
mean_age_occupation_gender = users.groupby(['occupation', 'gender'])['age'].mean().round()
print(mean_age_occupation_gender)

occupation     gender
administrator  F         41.0
               M         37.0
artist         F         30.0
               M         32.0
doctor         M         44.0
educator       F         39.0
               M         43.0
engineer       F         30.0
               M         37.0
entertainment  F         31.0
               M         29.0
executive      F         44.0
               M         38.0
healthcare     F         40.0
               M         45.0
homemaker      F         34.0
               M         23.0
lawyer         F         40.0
               M         36.0
librarian      F         40.0
               M         40.0
marketing      F         37.0
               M         38.0
none           F         36.0
               M         19.0
other          F         35.0
               M         34.0
programmer     F         32.0
               M         33.0
retired        F         70.0
               M         63.0
salesman       F         27.0
               M         39.0
scientist      F         28.0
               M         36.0
student        F         21.0
               M         23.0
technician     F         38.0
               M         33.0
writer         F         38.0
               M         35.0
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [14]:
gender_occupation = users.groupby(['occupation', 'gender']).size().unstack(fill_value=0)
gender_percentage = gender_occupation.div(gender_occupation.sum(axis=1), axis=0) * 100
print(gender_percentage)

gender                 F           M
occupation
administrator  45.569620   54.430380
artist         46.428571   53.571429
doctor          0.000000  100.000000
educator       27.368421   72.631579
engineer        2.985075   97.014925
entertainment  11.111111   88.888889
executive       9.375000   90.625000
healthcare     68.750000   31.250000
homemaker      85.714286   14.285714
lawyer         16.666667   83.333333
librarian      56.862745   43.137255
marketing      38.461538   61.538462
none           44.444444   55.555556
other          34.285714   65.714286
programmer      9.090909   90.909091
retired         7.142857   92.857143
salesman       25.000000   75.000000
scientist       9.677419   90.322581
student        30.612245   69.387755
technician      3.703704   96.296296
writer         42.222222   57.777778

In [17]:
users.groupby('occupation')['gender'].value_counts(normalize = True) * 100

occupation     gender
administrator  M          54.430380
               F          45.569620
artist         M          53.571429
               F          46.428571
doctor         M         100.000000
educator       M          72.631579
               F          27.368421
engineer       M          97.014925
               F           2.985075
entertainment  M          88.888889
               F          11.111111
executive      M          90.625000
               F           9.375000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         M          83.333333
               F          16.666667
librarian      F          56.862745
               M          43.137255
marketing      M          61.538462
               F          38.461538
none           M          55.555556
               F          44.444444
other          M          65.714286
               F          34.285714
programmer     M          90.909091
               F           9.090909
retired        M          92.857143
               F           7.142857
salesman       M          75.000000
               F          25.000000
scientist      M          90.322581
               F           9.677419
student        M          69.387755
               F          30.612245
technician     M          96.296296
               F           3.703704
writer         M          57.777778
               F          42.222222
Name: proportion, dtype: float64